
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* shared style */
  .section-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);   
    
  }
  .section-description{
    font-size: 16px;
    font-weight: regular;
    color: rgba(14, 14, 14, 0.7); 
  }

  /* banner styles */
  .banner{
    display: flex;
    justify-content: space-around;
    gap: 64px;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(198, 228, 214, 1);
    padding: 130px 65px;
    width: 1280px;
    
    }
  .banner-content{
    max-width: 622px;
    
  }
  .banner-subtitle{
    font-size: 24px;
    font-weight: Medium;
    color: rgba(14, 14, 14, 0.5)
  }
  .banner-title{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
  }
  .banner-btn{
    font-size: 18px;
    font-weight: SemiBold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 34px 17px;
    border-radius: 17px;
    border: none;
  }
  .banner-profile-pic{
    width: 474px;
  }

  /* vision style */
  .visions{
    width: 1280px;
    gap: 32;
  }
  .visions-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    
  }
  .vision1{
    padding: 32px 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
  }
  .vision2{
    padding: 32px 32px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
  }
  .vision3{
    padding: 24px 24px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
  }
  .vision-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);  
  }
  
  .vision-btn1{
    font-size: 16px;
    font-weight: SemiBold;
    color: rgba(255, 255, 255, 1);
    padding: 20px 11px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    border: none;
  }
  .vision-btn2{
    font-size: 16px;
    font-weight: SemiBold;
    color: rgba(255, 255, 255, 1);
    padding: 20px 11px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    border: none;
  }
  .vision-btn3{
    font-size: 16px;
    font-weight: SemiBold;
    color: rgba(255, 255, 255, 1);
    padding: 20px 11px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    border: none;
  }
  
  /* news section */
  .news-container{
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
    gap: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
  }
  .news-pic{
    width: 408px;
    border-radius: 24px;
  }
  .news-btn{
    font-size: 16px;
    font-weight: SemiBold;
    color: rgba(255, 255, 255, 1);
    padding: 20px 11px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
  }
  .news-dates{
    display: flex;
    justify-content: start;
    gap: 12px;
  }

  /* donate styles */
  .donates{
    width: 1280px;
    gap: 32px;
  }
  .donates-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
  }
  .donate{
    padding: 40px 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
  }
  .donate2{
    background-color: rgba(198, 228, 214, 1);
  }
  .Amount{
    background-color: rgba(255, 255, 255, 1);
    gap: 24px;
    padding: 40px 20px;
  }
  .done-container{
    text-align: center;
    padding: 34px 17px;
    gap: 48px;
    border-radius: 8px;
  }
  .center{
    text-align: center;
  }

  /* newsletter style */
  .newsletters{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 100px 80px;
    gap: 64px;
  }
  .newsletter-container{
    margin: 80px 180px;
  }
  .subscribe-container{
    display: flex;
    justify-content: center;
    
    
  }
  


  /* main styles */
main{
    max-width: 1280px;
    margin: 0 auto;
}
main section{
  margin-top: 120px;
  margin-bottom: 80px;
}


   
  